<div class="">
    <div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <label for="sample_number">Sample Number: </label>
            <input type="text" class="form-control" id="sample_number" placeholder="Sample Number"
            [(ngModel)]="labForm.sample_number" name="sample_number">
        </div>
            <div class="form-goup">
            <label for="condition">Condition: </label>
            <input type="text" class="form-control" id="condition" placeholder="Condition" [(ngModel)]="labForm.condition"
            name="condition">
        </div>
        <div class="form-group">
            <label for="test">Test: </label>
            <input type="text" class="form-control" id="test" placeholder="Test" [(ngModel)]="labForm.test" name="test">
        </div>
        <div class="form-group">
            <label for="disease_found">Disease Found: </label>
            <input type="text" class="form-control" id="disease_found" placeholder="Disease Found" [(ngModel)]="labForm.disease_found"
            name="disease_found">
        </div>
        <button (click)="saveLabForm()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
        <h4>Data Form was submitted successfully</h4>
        <button class="btn btn-success" (click)="newLabForm()">Add</button>
    </div>
    </div>
</div>
